@media only screen and (max-width: 1600px){
    body, html{
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 1200px){
    body, html{
        font-size: 1.0rem;
    }
}

@media only screen and (max-width: 1023px){
    body, html{
        font-size: 0.8rem;
    }
  
}
@media only screen and (max-width: 767px){
    body, html{
        font-size: 0.6rem;
    }
    .title{
        background-color: var(--page-color-4);
        color: var(--page-color-1);
        height: 90vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 600px){
    body, html{
        font-size: 0.6rem;
    }
    .title{
        background-color: var(--page-color-4);
        color: var(--page-color-1);
        height: 85vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        text-align: center;
    }
}

@media only screen and (max-width: 480px){
    body, html{
        font-size: 0.6rem;
    }

    .title{
        background-color: var(--page-color-4);
        color: var(--page-color-1);
        height: 80vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        text-align: center;
    }
}