html {
  font-size: 16px; }
  @media (max-width: 600px) {
    html {
      font-size: 8px; } }
  @media (max-width: 1200px) {
    html {
      font-size: 12px; } }
  @media (max-width: 900px) {
    html {
      font-size: 10px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 18px; } }

body {
  font-family: 'Montserrat', sans-serif;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat"; }

h2 {
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 30px; }

h2:after {
  display: block;
  height: 2px;
  background-color: #00adb5;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px; }

h3 {
  font-weight: 700;
  margin: 0px; }

h6 {
  margin-bottom: 0; }

a {
  color: #ffffff;
  text-decoration: none; }

a:hover {
  color: #ffffff;
  transition: none;
  text-decoration: none; }

a.disabled-link {
  pointer-events: none; }

p {
  margin-bottom: 0;
  padding: 0; }

/* Price */
.old-price {
  text-decoration: line-through;
  position: relative;
  top: 5px;
  color: #393e46; }

/* Main  navBar */
.navbar {
  padding: 10px 32px;
  width: 100%;
  background-color: #222831; }

.navbar-brand {
  font-size: 35px;
  font-weight: bold; }
  @media (max-width: 600px) {
    .navbar-brand {
      font-size: 20px; } }
  @media (max-width: 1200px) {
    .navbar-brand {
      font-size: 25px; } }
  @media (max-width: 900px) {
    .navbar-brand {
      font-size: 22px; } }

.navbar-toggler {
  font-size: 30px;
  border: none; }
  @media (max-width: 600px) {
    .navbar-toggler {
      font-size: 20px; } }
  @media (max-width: 1200px) {
    .navbar-toggler {
      font-size: 28px; } }
  @media (max-width: 900px) {
    .navbar-toggler {
      font-size: 25px; } }

#navbarDropdown {
  font-size: 30px;
  color: #f4f4f4;
  padding-left: 2rem; }

.dropdown-menu {
  padding: 1rem;
  color: #f4f4f4;
  background-color: #222831;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; }

.navbar-icon {
  color: #f4f4f4; }

/* Sticky  navBar */
.sticky {
  position: fixed;
  padding: 10px 32px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222831;
  z-index: 9999; }

.sticky .navbar-brand {
  font-size: 35px;
  font-weight: bold;
  color: #f4f4f4; }
  @media (max-width: 600px) {
    .sticky .navbar-brand {
      font-size: 20px; } }
  @media (max-width: 1200px) {
    .sticky .navbar-brand {
      font-size: 25px; } }
  @media (max-width: 900px) {
    .sticky .navbar-brand {
      font-size: 22px; } }

.sticky #navbar-icon {
  display: inline-block;
  font-size: 20px;
  color: #f4f4f4;
  padding-left: 2rem; }

.sticky #navbarDropdown {
  font-size: 30px;
  color: #f4f4f4;
  padding-left: 2rem; }

/* Title section */
.title-section {
  background-color: #222831;
  color: #f4f4f4;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../img/laptops.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

/* Trending now */
.discount-section {
  background-color: #e9e5e5;
  color: #222831;
  min-height: 100vh; }

.review-section {
  padding: 8rem 10rem;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../img/review.jpg);
  color: #f4f4f4;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

/* Checkout section */
.checkout-section {
  background-color: #f4f4f4;
  color: #222831; }

/* Create account section */
.create-account-section {
  background-color: #f4f4f4;
  color: #222831; }

/* Create account */
.account-creation-section {
  background-color: var(--page-color-1);
  color: #222831;
  height: 100vh; }

/* Shop section */
.shop-section {
  background-color: #f4f4f4; }

/* Buttons */
.btn {
  margin: 0.5rem; }

.btn-primary {
  border-radius: 200px;
  padding: 10px 30px;
  background-color: #00adb5;
  border-color: #f4f4f4;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px; }

.btn-primary:hover {
  background-color: #393e46;
  border-color: #00adb5; }

.btn-secondary {
  margin: 0;
  background-color: #00adb5;
  border-color: #f4f4f4; }

.btn-secondary:hover {
  background-color: #393e46;
  border-color: #00adb5; }

.btn-dark {
  margin: 0; }

.btn-outline-light {
  margin: 0; }

.btn-danger.js--logout-account-button {
  margin: 0; }

/*navBarshopping cart */
.laptop-img-cart {
  width: 35%;
  margin-right: 5%; }

.cart-text {
  color: #222831;
  margin: 0; }

.list-group {
  padding: 1rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px; }

.list-group .disabled {
  background-color: #222831;
  color: #f4f4f4;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; }

.list-group .list-group-item-action {
  background-color: #fff;
  margin: 3px 3px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid #00adb5; }

.list-group .list-group-item-action:hover {
  border: 1px solid #393e46; }

.list-group .active {
  background-color: #00adb5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid #393e46; }

.option {
  cursor: pointer; }

.item-capsule {
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #00adb5; }

.item-capsule:hover {
  border: 1px solid #222831; }

.laptop-img-shop {
  width: 20%; }

.laptop-img-summary {
  width: 10%; }

.footer {
  padding: 3% 5%;
  text-align: center;
  background-color: #222831; }

footer p {
  color: #393e46;
  text-align: center;
  font-size: 80%; }

footer p:hover {
  color: #00adb5; }

.reviewer-image {
  width: 10%;
  border-radius: 100%;
  border: 2px solid #00adb5;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin: 20px; }

.discount-carousel-item {
  padding: 5% 7%;
  background-color: #fff;
  border-radius: 15px; }

.carousel-img {
  width: 450px;
  height: 450px; }
  @media (max-width: 600px) {
    .carousel-img {
      width: 200px;
      height: 200px; } }
  @media (max-width: 900px) {
    .carousel-img {
      width: 250px;
      height: 250px; } }
  @media (min-width: 1200px) {
    .carousel-img {
      width: 550px;
      height: 550px; } }

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80; }

.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: spin 1s linear infinite;
  border: 5px solid #00adb5;
  border-right-color: transparent;
  border-radius: 50%; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.input-append {
  background-color: #fff; }

.form-control-border {
  border-right: 0 solid transparent; }
