$page-color-1: #f4f4f4;
$page-color-2: #00adb5;
$page-color-3: #393e46;
$page-color-4: #222831;
$page-color-5: #e9e5e5;
html{
    font-size: 16px;
}

body{
    // --page-color-1: #f4f4f4;
    // --page-color-2: #00adb5;
    // --page-color-3: #393e46;
    // --page-color-4: #222831;
    // --page-color-5: #e9e5e5;
    font-family: 'Montserrat', sans-serif;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
   

}

/* Headings */
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat";
}


h2{
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 30px; 
}
h2:after{
    display: block;
    height: 2px;
    background-color: $page-color-2;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
h3{
    font-weight: 700;
    margin:0px;  
}
h6{
    margin-bottom: 0;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
    transition: none;
    text-decoration: none;
}
a.disabled-link{
    pointer-events: none;
}


p{
    margin-bottom: 0;
    padding:0;
}

/* Price */
.old-price{
    text-decoration: line-through;
    position: relative;
    top: 5px;
    color: $page-color-3;
}


/* Buttons */
.btn{
    margin: 0.5rem;
}
.btn-primary{
    border-radius: 200px;
    padding: 10px 30px;
    background-color: $page-color-2;
    border-color: $page-color-1;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}
.btn-primary:hover{
    background-color: $page-color-3;
    border-color: $page-color-2;
}
.btn-secondary{
    margin:0;
    background-color: $page-color-2;
    border-color: $page-color-1;
}
.btn-secondary:hover{
    background-color: $page-color-3;
    border-color: $page-color-2;
}
.btn-dark{
    margin: 0;
}
.btn-outline-light{
    margin: 0;
}
.btn-danger.js--logout-account-button{
    margin:0;
}



/* Title section */
.title{
    background-color: $page-color-4;
    color: var$page-color-1;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8)), url(../img/laptops.png);
    background-size: cover;
	background-position: center;
    background-attachment: fixed;
}


.title .container-fluid {
    padding: 3% 15% 20%;
}

/* Main  navBar */

.navbar{
    padding: 10px 32px;
    width:100%;
    background-color: $page-color-4;   
}
.navbar-brand{
    font-size: 35px;
    font-weight: bold;
}
#navbar-icon{
    display: inline-block;
    font-size: 20px;
    color: $page-color-3;
    /* padding-left: 2rem;  */
}
#navbarDropdown{
    font-size: 30px;
    color: $page-color-1;
    padding-left: 2rem; 
}
.dropdown-menu{
    padding: 1rem;
    color: var(--page-color-1);
    background-color: $page-color-4 ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.navbar-icon{
   color: $page-color-1;
}
/* Sticky  navBar */
.sticky{
    position: fixed;
    padding: 1rem 2.5rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $page-color-4;
    z-index: 9999;
}
.sticky .navbar-brand{
    font-size: 3.5rem;
    font-weight: bold;
    color: $page-color-1;
}
.sticky #navbar-icon{
    display: inline-block;
    font-size: 1.5rem;
    color: $page-color-1;
    padding-left: 2rem; 
}
.sticky #navbarDropdown{
    font-size: 2.5rem;
    color: $page-color-1;
    padding-left: 2rem; 
}


/*navBarshopping cart */
.laptop-img-cart{
    width: 35%;
    margin-right: 5%;
}
.cart-text{
    color: $page-color-4;
    margin:0;
}



/* Trending now */
.discount-section{
    background-color: $page-color-5;
    color: $page-color-4;
    min-height: 100vh;
}

.discount-carousel-item{
    padding: 5% 7% ;
    background-color: #fff;
    border-radius: 15px;
}

.carousel-item{
    padding: 7% 15%;
}


.discount-section .container-fluid{
    padding: 3% 15% 3%;
}
.discount-section h2{
    margin-bottom: 0px;
}
.laptop-img-jumbotron{
    width: 50%;
}
 /* Shop section */
.shop{
    background-color: $page-color-1;
}
.shop .container-fluid {
    
    padding: 3% 10% 7%;
  }
.list-group {
    padding: 1rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.list-group .disabled{
    background-color: $page-color-4;
    color: $page-color-1;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.list-group .list-group-item-action{
    background-color: #fff;
    margin:3px 3px ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid $page-color-2;
}
.list-group .list-group-item-action:hover{
    border: 1px solid $page-color-3
}
.list-group .active{
    background-color: $page-color-2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid $page-color-3;
}
.list-laptops{
    padding: 1rem;
    /* border: 3px solid $page-color-4; */
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.option{
    cursor: pointer;
}

.d-block{
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid $page-color-2;
}
.d-block:hover{
    border: 1px solid $page-color-4;
}
.laptop-img-shop{
width: 20%;
}
.laptop-img:hover{
    opacity: .5;
}


 /* Reviews section */
 .review{
    padding: 7% 15%;
     text-align: center;
     /* background-color: $page-color-3; */
     background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8)), url(../img/review.jpg);
     color: $page-color-1;
     background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }
 .reviewer-image{
    width: 10%;
    border-radius: 100%;
    border: 2px solid $page-color-2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
      margin: 20px;
 }

/* footer section */
.footer{
    padding: 3% 5%;
    text-align: center;
    background-color: $page-color-4;
}

.social-icon{
    margin: 20px 20px;
    transition: color 0,2;
    font-size: 200%;
    color: $page-color-3;
}
.fa-facebook:hover{
    color: #3b5998;
}
.fa-twitter:hover{
    color: #00acee;
}
.fa-instagram:hover{
    color: #3f729b;
}
footer p {
    color: $page-color-3;
    text-align: center;
    font-size: 80%;
}
footer p:hover{
    color: $page-color-2;
}

/* Checkout section */
.checkout{
    background-color: $page-color-1;
    color: $page-color-4;
}
.checkout-form{
    padding: 1% 5% 5% 5%;
}
/* Create account section */
.create-account{
    background-color: $page-color-1;
    color: $page-color-4;
}
.create-account-form{
    padding: 1% 5% 5% 5%;
}

/* Order summary */
.summary-item{
    border: 1px solid $page-color-2;
    margin: 5px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.laptop-img-summary{
    width: 10%;
}
/* Create account */
.account-creation{
    background-color: var(--page-color-1);
    color: $page-color-4;
    height: 100vh;
}
.input-append{
    background-color: #fff;
}
.form-control-border{
    border-right: 0 solid transparent;
}

#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }

  .spinner {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid $page-color-2;
      border-right-color: transparent;
      border-radius: 50%;
  }


  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }







