.reviewer-image{
    width: 10%;
    border-radius: 100%;
    border: 2px solid $page-color-2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
      margin: 20px;
 }

 .discount-carousel-item{
    padding: 5% 7% ;
    background-color: #fff;
    border-radius: 15px;
}

// .carousel-item{
//     padding: 2% 15%;
// }

.carousel-img{
     width: 450px;
     height: 450px;
    
     @include respond(phone) {
        width: 200px;
        height: 200px;
    }
    @include respond(tab-port) { 
        width: 250px;
        height: 250px;
    }
    @include respond(big-desktop) {
        width: 550px;
        height: 550px;
    }
}