/* Main  navBar */
.navbar{
    padding: 10px 32px;
    width:100%;
    background-color: $page-color-4;
       
}
.navbar-brand{
    font-size: 35px;
    font-weight: bold;

    @include respond(phone) {
      font-size: 20px;
    }
    @include respond(tab-land) { 
      font-size: 25px; 
    } 
    @include respond(tab-port) { 
      font-size: 22px; 
    }
}


.navbar-toggler{
    font-size: 30px;
    border: none;

    @include respond(phone) {
        font-size: 20px;
    }
    @include respond(tab-land) { 
      font-size: 28px; 
    } 
    @include respond(tab-port) { 
      font-size: 25px; 
    }
}

#navbarDropdown{
    font-size: 30px;
    color: $page-color-1;
    padding-left: 2rem; 
}
.dropdown-menu{
    padding: 1rem;
    color: $page-color-1;
    background-color: $page-color-4 ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.navbar-icon{
   color: $page-color-1;
}
/* Sticky  navBar */
.sticky{
    position: fixed;
    padding: 10px 32px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $page-color-4;
    z-index: 9999;
}
.sticky .navbar-brand{
    font-size: 35px;
    font-weight: bold;
    color: $page-color-1;

    @include respond(phone) {
        font-size: 20px;
      }
      @include respond(tab-land) { 
        font-size: 25px; 
      } 
      @include respond(tab-port) { 
        font-size: 22px; 
      }
}
.sticky #navbar-icon{
    display: inline-block;
    font-size: 20px;
    color: $page-color-1;
    padding-left: 2rem; 
}
.sticky #navbarDropdown{
    font-size: 30px;
    color: $page-color-1;
    padding-left: 2rem; 
}

